{% extends 'base.html' %} {% block title %}discordBot: Paul(Guohao) Liao{% endblock %} 
{% load static %}

{% block bodyClass %} dcBotBody {% endblock %}

{% block hudButtons %}
<button class="aboutMeButton">About Me</button>
<button class="blogButton">Blog</button>
<button class="experienceButton">Experience</button>
<button class="projectButton on">Project</button>
<button class="contactButton">Contact</button>
{% endblock %}

{% block pageName %}
    DCBOT
{% endblock %}

{% block content %}
<div class="contentBox vexHeight">
    <div class="back">
        <p>
            <a href="{% url 'project' %}" class="hyperText">&lt;&#45;&#45; BACK</a>
        </p>
    </div>
    <div class="detailBoxes">
        <div class="detail">
            <h1 class="header">Discord Music Player Bot:</h1>
            <p>
                <figure class="image-left">
                    <b># Click on the image to enlarge it #</b>
                    <b># Click on the file to open it #</b>
                    <img class="image" src="{% static 'images/dcBot.png' %}" alt="DC Bot" onclick="openDCBotPic()">
                    <figcaption>The bot is running</figcaption>
                    <span class="hyperText" onclick="openDCBotCode()">📄 discord_bot.py</span>
                </figure>
                {{ dcBotIntro_en|safe }}    
            </p>
        </div>
    </div>
</div>
<div class="modal-bg" onclick="closeModal()"></div>
<div class="modal dcBotPic">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <h2>Bot is running</h2>
    <img src="{% static 'images/dcBot.png' %}" alt="DC Bot">
</div>
<div class="modal dcBotCode">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <h2>discord_bot.py</h2>
    <pre><code>{{ dcBotCode }}</code></pre>
</div>
{% endblock %}